
/* index */
.page-tab-title {
    /*position: absolute;*/
    /*z-index: 997*/
}

.page-tab-content {
    padding-top: 10px;
    /*position: absolute;*/
    /*top: 60px;*/
    /*z-index: 900;*/
    /*width: 96%;*/
}

.layui-input, .layui-textarea {
    border-color: lightgrey;
}

.layui-input:hover, .layui-textarea:hover {
    border-color: darkgrey !important;
}

/* 1-4 */
.page-form .page-row-item {
    width: 49%;
    display: inline-block;
    float: left;
    padding-left: 10px;
}

.page-form .page-row-item label {
    display: block;
    text-align: center;
}

.page-form .page-row-item div {
    display: block;
}

.page-form .layui-textarea {
    min-height: 136px;
}

/* page2 */
#projectDetailPage2 xm-select {
    width: 99%;
    border-color: lightgrey !important;
}

/* page3 */
#projectDetailPage3 td .layui-input {
    border-style: none;
}

#projectDetailPage3 .layui-row label {
    line-height: 46px;
    text-align: center;
}

#projectDetailPage3 #grid1 {
    border: 2px solid lightgray;
    display: block;
    margin: 2rem 0;
    width: 100%;
    min-height: 220px;
}

#projectDetailPage3 #grid1 > div:first-child {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: -1.2rem;
    margin-left: 0.5rem;
    width: fit-content;
    background-color: rgb(242, 242, 242);
}

#projectDetailPage3 #grid2 {
    border: 2px solid lightgray;
    display: block;
    width: 100%;
    height: 46px;
}

#projectDetailPage3 #grid34 {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

#projectDetailPage3 #grid3, #grid4 {
    display: inline-block;
    width: 50%;
    float: left;
}

#projectDetailPage3 .layui-table-header .layui-table-cell:before {
    content: '* ';
    color: red;
}

/* page3 select-cell */
#projectDetailPage3 .laytable-cell-1-0-4 {
    overflow: visible;
}

#projectDetailPage3 .laytable-cell-2-0-4 {
    overflow: visible;
}

#projectDetailPage3 .laytable-cell-3-0-4 {
    overflow: visible;
}

/* #projectDetailPage3 .layui-table-box, .layui-table-body {
    overflow-x: scroll;
    overflow-y: visible;
}*/

#projectDetailPage3 td .layui-form-select {
    margin-top: -10px;
    margin-left: -15px;
    margin-right: -15px;
    border-style: none;
}

/* page3 tree-select-cell */
td .titleTreeSelector,
.specTreeSelector {
    margin-top: -10px;
    margin-left: -15px;
    margin-right: -15px;
}

td xm-select {
    border: none;
    padding: 0 !important;
    height: 38px !important;
    line-height: 38px !important;
}

td xm-select .xm-select-default {
    width: 20% !important;
}

xm-select > .xm-body .xm-search > i {
    right: 20px;
}

xm-select[size='small'] .xm-label .scroll .label-content {
    line-height: 32px !important;
}

/* page4 */
#projectDetailPage4 label {
    white-space: nowrap;
}

#projectDetailPage4 #addCycleBtn {
    display: block;
    width: 40%;
    margin-left: 30px;
}

#projectDetailPage4 .layui-disabled, .layui-disabled:hover {
    color: slategray !important;
    cursor: not-allowed !important;
}

/* page4 date-cell */
.cycle-date {
    width: 100%;
    height: 38px;
    margin-top: -5px;
    border: none;
    text-align: center;
}
