body,html{
	width:100%;
}
body{
	position:relative;
}
/**{
	font-family: "微软雅黑" !important;	
	}*/
img{
	border:none;
	}
a,input,span,label,li,select,button,dl,div,table{
	-webkit-tap-highlight-color:transparent;
	/*-webkit-appearance: none;*/
}
textarea,button,input,select{
	outline: none;
	border:none;
	background:none;
	padding: 0;
}



.top-buttons {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 25px;
	padding: 20px;
}
.button2 {
	background:url(/img/home/unit/listbg.png) no-repeat left center;
	background-size: 100% 100%;
	height: 150px;
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}
.button2 img {
	padding:0 10px 0 40px;
	display: block;
	/* margin-right: 20px;
	border-right: 1px solid #ddd; */
}
.button {
	background:url(/img/home/unit/listbg2.png) no-repeat left center;
	background-size: 100% 100%;
	height: 180px;
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

.button img {
	padding:0 10px 0 15px;
	display: block;
	/* margin-right: 20px;
	border-right: 1px solid #ddd; */
}
.text_box{
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	font-weight: bold;
	font-size: 18px;
	color: #fff;
}

.main-content {
	flex: 1;
	display: flex;
	gap: 20px;
	padding: 20px;
}

.left-section {
	flex: 3;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.right-section {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.info-block {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 130px;
	background: #f4f8fb;
	border-radius: 8px;
	cursor: pointer;
}



.status-title {
	padding: 10px;
	
}

.projectstatus {
	display: flex;
	background: #f4f8fb;
	border-radius: 8px;
}
.titbox1{
	background: url(/img/home/bg1.png) no-repeat left center;
	font-size: 20px;
	color: #fff;
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 130px;
}
.titbox2{
	background: url(/img/home/bg2.png) no-repeat left center;
	font-size: 20px;
	color: #fff;
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 130px;
}
.titbox3{
	background: url(/img/home/bg3.png) no-repeat left center;
	font-size: 20px;
	color: #fff;
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 130px;
}
.titbox4{
	background: url(/img/home/bg4.png) no-repeat left center;
	font-size: 20px;
	color: #fff;
	width: 200px;
	display: flex;
	align-items: center;
	justify-content:center;
	height: 130px;
}

.status-data {
	flex: 1;
	display: flex;
	padding-left: 30px;
	align-items: center;
	justify-content:flex-start;
	gap: 20px;
}
.stat_text{
	color: #5c5c5c;
	font-size: 24px;
	font-weight: bold;
}
.stat_text span{
	display: block;
	font-size: 16px;
	padding-bottom: 10px;
	font-weight: normal;
	color: #9f9f9f;
}





















































































