body {
  -webkit-perspective: 800px;
          perspective: 800px;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'Gudea', sans-serif;
  background: #214d7c;
  /* Old browsers */
  /* FF3.6+ */
 
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EA5C54 ', endColorstr='#bb6dec',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
body ::-webkit-input-placeholder {
  color: #4E546D;
}
body .authent {
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
  display: none;
  background: #35394a;
  /* Old browsers */
  /* FF3.6+ */

  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(230deg, rgba(53, 57, 74, 0) 0%, rgb(0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(53, 57, 74, 0)', endColorstr='rgb(0, 0, 0)',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  position: absolute;
  left: 0;
  right: 90px;
  margin: auto;
  width: 100px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: 20px 70px;
  top: 200px;
  bottom: 0;
  height: 70px;
  opacity: 0;
}
body .authent p {
  text-align: center;
  color: white;
}
body .success {
  display: none;
  color: #d5d8e2;
}
body .success p {
  font-size: 14px;
}
body .testtwo {
  left: -320px !important;
}
body .test {
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
  pointer-events: none;
  top: -100px !important;
  -webkit-transform: rotateX(70deg) scale(0.8) !important;
          transform: rotateX(70deg) scale(0.8) !important;
  opacity: .6 !important;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}


/* 2022.2.21新增代码 */
.login_cont{
  width: 700px;
  height: 600px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}
.tit_box{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
  margin-top: 22px;
}
.tit_box p{
  font-size: 28px;
  color: #fff;
  margin: 0 20px;
}
.login_ul{
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: #cccccc; */
  /* border-bottom: 1px solid #ccc; */
  height: 40px;
  margin-bottom: 20px;
  opacity: 0.8;
}
.login_ul li{
  color: #fff;
  display: flex;
  font-size: 16px;
  height: 40px;
  margin: 0 30px;
  padding: 0 8px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}
.login_ul li.cur{
  color: #0092dc;
  border-bottom: 3px solid #0092dc;
}
body .login 
{
  box-shadow: -15px 15px 15px rgba(6, 17, 47, 0.7);
  opacity: 1;
  background: #35394a;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, 0.85);
  -webkit-transition-property: -webkit-transform,opacity,box-shadow,top,left;
          transition-property: transform,opacity,box-shadow,top,left;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transform-origin: 161px 100%;
      -ms-transform-origin: 161px 100%;
          transform-origin: 161px 100%;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
 margin: 0 auto;
width:400px;
height: 380px;
  position: relative;
  border-radius: 1px;
  /* padding: 10px 0 40px 0; */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #35394a), color-stop(100%, rgb(0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(230deg, rgba(53, 57, 74, 0) 0%, rgb(0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(230deg, rgba(53, 57, 74, 0) 0%, rgb(0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(255, 255, 255, 0.8)', endColorstr='rgb(0, 0, 0)',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
body .login .validation {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 14px;
  opacity: 0;
}
.disclaimer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.disclaimer a{
  color: #fff;
  margin-bottom:5px;
  display: block;
}
.disclaimer a:hover{
  color: #fff;
}
body .login_title {
  color: #D3D7F7;
  height: 60px;
  font-size: 23px;
  text-align: center;
}
.login_fields {
  padding: 30px;
  display: none;
}
.hid{
  display: block;
}
body .disclaimer p{
	text-align: center;
	font-size: 13px;
}
body .login_fields .icon {
  position: absolute;
  /* z-index: 1; */
  left: 36px;
  top: 14px;
  opacity: .5;
}
body .login_fields .icon img{
	width: 16px;
}
body .login_fields input[type='password'],body .login_fields input[type='text'] {
  /* color: #61BFFF !important; */
}
body .login_fields input {
  color: #fff;
  width: 92%;
  background: none;
  outline: none;
  border: none;
  /* border: 1px solid rgba(255,255,255,0.5); */
  border-radius: 4px;
  padding: 10px;
  left: 0;
  outline: none;
  font-family: 'Gudea', sans-serif;
  box-shadow: none;
  font-size: 16px;
}
body .login_fields input::-webkit-input-placeholder{ /*WebKit 对placeholder起作用*/
	color: #fff;
  opacity: 0.8;
}
.login_fields__user, body .login_fields__password {
  position: relative;
  width: 340px;
  /* background: #fff; */
  margin-bottom: 20px;
  border-radius: 4px;
  /* overflow: hidden; */
}
.yzm{
  width: 60% !important;
}
.yzm_tit {
  color: #0092dc;
  padding: 9px 0;
  margin-right: 10px;
  font-size: 16px;
  float: right;
  cursor: pointer;
}
body .login_fields__submit {
  display: flex;
  justify-content: center;
  margin-top:50px;
}
body .login_fields__submit .forgot {
  float: right;
  font-size: 10px;
  margin-top: 11px;
  text-decoration: underline;
}
body .login_fields__submit .forgot a {
  color: #606479;
}
body .login_fields__submit input {
  border-radius: 5px;
  background: transparent;
  padding: 10px 40px;
  width: 100%;
  font-size: 16px;
  border: 2px solid #4FA1D9;
  color: #4FA1D9;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-transition-property: background,color;
          transition-property: background,color;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}
body .login_fields__submit input:focus {
  box-shadow: none;
  outline: none;
}
body .login_fields__submit input:hover {
  color: white;
  background: #4FA1D9;
  cursor: pointer;
  -webkit-transition-property: background,color;
          transition-property: background,color;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

/* Color Schemes */
.love {
  position: absolute;
  right: 20px;
  bottom: 0px;
  font-size: 11px;
  font-weight: normal;
}
.love p {
  color: white;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}
.love a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}
.love img {
  position: relative;
  top: 3px;
  margin: 0px 4px;
  width: 10px;
}

.brand {
  position: absolute;
  left: 20px;
  bottom: 14px;
}
.brand img {
  width: 30px;
}
.jszc_box{
  text-align: center;
  font-size: 14px;
  color: #333;
  /* background: url(../login3/images/wer_bg.png) no-repeat left bottom; */
  width: 100%;
  /* height: 560px; */
  margin-top:26px;
}
/* .jszc_box p{
  margin-top:400px;
} */